.forget-password-body {
  background-color: #F1FFFB;
  padding: 30px;
  border-radius: 4px;
  height: 100vh;
  margin-top: -60px;
  padding-top: 60px;
}
.forget-password-body .forget-password-card {
  z-index: 10;
  max-width: 80%;
  width: 700px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 52px 56px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 10px;
  border: 1px solid #055053;
}
.forget-password-body .forget-password-card .card-information {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}
.forget-password-body .forget-password-card .card-information h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #012231;
}
.forget-password-body .forget-password-card .card-information p {
  color: #667085;
  line-height: 28px;
  margin: 0;
}
.forget-password-body .forget-password-card .card-input {
  display: flex;
  flex-direction: column;
  padding: 0 92px;
  gap: 18px;
}
.forget-password-body .forget-password-card .card-input p.error-message.active {
  text-align: center;
  margin: 0;
  margin-top: -4px;
}
.forget-password-body .forget-password-card .card-input .input-email,
.forget-password-body .forget-password-card .card-input .input-password,
.forget-password-body .forget-password-card .card-input .input-confirm-password {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.forget-password-body .forget-password-card .card-input .input-email label,
.forget-password-body .forget-password-card .card-input .input-password label,
.forget-password-body .forget-password-card .card-input .input-confirm-password label {
  color: #344054;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.forget-password-body .forget-password-card .card-input .input-email input,
.forget-password-body .forget-password-card .card-input .input-password input,
.forget-password-body .forget-password-card .card-input .input-confirm-password input {
  color: #101828;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 14px;
  border: 1px solid #D0D5DD;
  outline: 0;
  border-radius: 8px;
}
.forget-password-body .forget-password-card .card-input .input-email input:focus,
.forget-password-body .forget-password-card .card-input .input-password input:focus,
.forget-password-body .forget-password-card .card-input .input-confirm-password input:focus {
  border: 1px solid #055053;
}
.forget-password-body .forget-password-card .card-input .input-email input::placeholder, .forget-password-body .forget-password-card .card-input .input-email input::-ms-input-placeholder, .forget-password-body .forget-password-card .card-input .input-email input::-webkit-input-placeholder, .forget-password-body .forget-password-card .card-input .input-email input:-ms-input-placeholder,
.forget-password-body .forget-password-card .card-input .input-password input::placeholder,
.forget-password-body .forget-password-card .card-input .input-password input::-ms-input-placeholder,
.forget-password-body .forget-password-card .card-input .input-password input::-webkit-input-placeholder,
.forget-password-body .forget-password-card .card-input .input-password input:-ms-input-placeholder,
.forget-password-body .forget-password-card .card-input .input-confirm-password input::placeholder,
.forget-password-body .forget-password-card .card-input .input-confirm-password input::-ms-input-placeholder,
.forget-password-body .forget-password-card .card-input .input-confirm-password input::-webkit-input-placeholder,
.forget-password-body .forget-password-card .card-input .input-confirm-password input:-ms-input-placeholder {
  color: #667085;
}
.forget-password-body .forget-password-card .card-input .input-email .input-wrapper,
.forget-password-body .forget-password-card .card-input .input-password .input-wrapper,
.forget-password-body .forget-password-card .card-input .input-confirm-password .input-wrapper {
  position: relative;
}
.forget-password-body .forget-password-card .card-input .input-email .input-wrapper.err svg,
.forget-password-body .forget-password-card .card-input .input-password .input-wrapper.err svg,
.forget-password-body .forget-password-card .card-input .input-confirm-password .input-wrapper.err svg {
  top: 25%;
  transform: translateY(-25%);
}
.forget-password-body .forget-password-card .card-input .input-email .input-wrapper svg,
.forget-password-body .forget-password-card .card-input .input-password .input-wrapper svg,
.forget-password-body .forget-password-card .card-input .input-confirm-password .input-wrapper svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.forget-password-body .forget-password-card .card-input .input-email .input-wrapper input,
.forget-password-body .forget-password-card .card-input .input-password .input-wrapper input,
.forget-password-body .forget-password-card .card-input .input-confirm-password .input-wrapper input {
  width: 100%;
}
.forget-password-body .forget-password-card .card-input .otp-status p,
.forget-password-body .forget-password-card .card-input .resend-otp p {
  text-align: center;
  margin: 0;
  color: #667085;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.forget-password-body .forget-password-card .card-input .otp-status p .resend-button,
.forget-password-body .forget-password-card .card-input .resend-otp p .resend-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
  color: #055053;
  cursor: pointer;
}
.forget-password-body .forget-password-card .card-input .card-input-otp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
}
.forget-password-body .forget-password-card .card-input .card-input-otp input.otp-input {
  padding: 8px 14px;
  width: 50px;
  height: 50px;
  color: #055053;
  border: none;
  border-bottom: 2px solid #055053;
  border-radius: 0;
  outline: none;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
}
.forget-password-body .forget-password-card .card-input .card-input-otp input.otp-input.error {
  margin: 0;
  border-bottom: 2px solid rgb(188, 81, 81);
}
.forget-password-body .forget-password-card .card-input .card-input-otp input.otp-input.error:focus {
  border-bottom: 2px solid rgb(188, 81, 81);
}
.forget-password-body .forget-password-card .card-input .card-input-otp input.otp-input:focus {
  border: none;
  border-bottom: 2px solid #055053;
}
.forget-password-body .forget-password-card .card-action {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.forget-password-body .forget-password-card .card-action button {
  padding: 12px 78px;
}/*# sourceMappingURL=forget-password.css.map */