.forget-password-body {
  background-color: #F1FFFB;
  padding: 30px;
  border-radius: 4px;
  height: 100vh;
  margin-top: -60px;
  padding-top: 60px;

  .forget-password-card {
    z-index: 10;
    max-width: 80%;
    width: 700px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 52px 56px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 10px;
    border: 1px solid #055053;

    .card-information {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      text-align: center;

      h1 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #012231;
      }

      p {
        color: #667085;
        line-height: 28px;
        margin: 0;
      }
    }

    .card-input {
      display: flex;
      flex-direction: column;
      padding: 0 92px;
      gap: 18px;
      p.error-message.active {
          text-align: center;
          margin: 0;
          margin-top: -4px;

        }
      .input-email,
      .input-password,
      .input-confirm-password {
        display: flex;
        flex-direction: column;
        gap: 6px;

        label {
          color: #344054;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;

        }

        input {
          color: #101828;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          padding: 10px 14px;
          border: 1px solid #D0D5DD;
          outline: 0;
          border-radius: 8px;

          &:focus {
            border: 1px solid #055053;
          }

          &::placeholder,
          &::-ms-input-placeholder,
          &::-webkit-input-placeholder,
          &:-ms-input-placeholder {
            color: #667085;
          }
        }

        .input-wrapper {
          position: relative;
          &.err {
            svg {
              top: 25%;
              transform: translateY(-25%);
            }
          }
          svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
          }

          input {
            width: 100%;
          }
        }
      }

      .otp-status p,
      .resend-otp p {
        text-align: center;
        margin: 0;
        color: #667085;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        .resend-button {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-decoration: underline;
          color: #055053;
          cursor: pointer;
        }
      }

      .card-input-otp {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 18px;

        input.otp-input {
          padding: 8px 14px;
          width: 50px;
          height: 50px;
          color: #055053;
          border: none;
          border-bottom: 2px solid #055053;
          border-radius: 0;
          outline: none;
          font-weight: 700;
          font-size: 34px;
          line-height: 41px;
          &.error {
              margin: 0;
              border-bottom: 2px solid rgb(188, 81, 81);
          
              &:focus {
                  border-bottom: 2px solid rgb(188, 81, 81);
                }
              }


          &:focus {
            border: none;
            border-bottom: 2px solid #055053;
          }
        }
      }
    }

    .card-action {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      button {
        padding: 12px 78px;
      }
    }
  }
}