.input-promotion-code {
	height: 44px;
	width: 370px;
	border-radius: 8px;
	padding: 12px, 16px, 12px, 16px;

	background: #ffffff;
	border: 1px solid #055053;
	box-sizing: border-box;
	border-radius: 8px;

	font-weight: 600;
	font-size: 16px;
	line-height: 20px;

	text-align: center;
	color: #055053;
}

.input-promotion-code::placeholder {
	text-align: center;
	color: #055053;
}

.cart-summary-container {
	width: 370px;
	height: auto;

	background: #ffffff;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
	border-radius: 4px;
	padding-bottom: 30px;
	margin-bottom: 42px;
}

.cart-summary-title p {
	margin-top: 32px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;

	color: #012231;
}

.cart-summary-detail {
}

.cart-summary-product {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;

	color: #475467;
}

.cart-summary-price {
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;

	text-align: right;
	color: #475467;
}

.cart-summary-disc {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	
	color: #389C1A;
}

.cart-total-price {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #012231;

	margin-top: 44px;
	margin-bottom: 15px;
}

.cart-checkout button {
	width: 100%;
}
