.room-product-recommendation,.room-design-recommendation {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    .product-auto-suggest{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 0;
        padding: 0;
        .see-more-container {
            margin: 0;
        }
    }
}