.profile-container-header.password {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.profile-container-header .header-text {
    margin: 0;
    color: #667085;
}



/* body */
.profile-container-body.password{
    display: flex;
    flex-direction: column;
    gap: 42px;
}
.profile-container-body.password .input-field {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.profile-container-body .input-field section {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.input-field input {
    width: 400px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    outline: none;
    padding: 0 14px;
}
.input-field label {
    color: #344054;
    font-weight: 500;
    font-size: 14px;
}
.input-field .old-password {
    display: flex;
    gap: 42px;
    align-items: center;
}
.input-field .old-password .forget-password {
    border: none;
    background-color: transparent;
    outline: none;
    color: #055053;
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    line-height: 20px;
    padding: 0;
}
.input-field .old-password .forget-password:hover {
    text-decoration: underline;
}
.submit-field button {
    padding: 0 51.5px;
    height: 44px;
    border-radius: 8px;
    background-color: #055053;
    color: white;
    border: none;
    font-weight: 600;
    margin-bottom: 68px;
}
section span svg {
    margin-left: -38px;
    margin-right: 38px;
    cursor: pointer;
}

