.category-sidebar {
	width: 160px;
	background: #ffffff;
	height: fit-content;
	/* float: left; */
	/* margin-right: 60px; */

	border: 1px solid #e4e7ec;
	box-sizing: border-box;
	border-radius: 4px;
}

.category-title-border {
	position: relative;
	width: 100%;
	margin: 0;
}

.category-title-text {
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #98a2b3;
	margin: 0;
}

.category-list-choice ul {
	position: relative;
	padding-left: 18px;
}

.category-sidebar ul li {
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #475467;
	margin-left: 0px;
}

.category-sidebar ul li input[type="checkbox"] {
}

.category-section {
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	color: #055053;
	margin: 0;
}

.category-section-border {
	width: 120px;
	border: 1px solid #055053;
	margin-top: 0;
	margin-left: 0;
}

.category-price input {
	width: 123px;
	height: 28px;
	background: #f1fffb;
	border: 1px solid #055053;
	border-radius: 4px;
	margin-bottom: 8px;

	/* Font */
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: right;
	color: #475467;
}
